
.navContainer {
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navLeft {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}


.iconPlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #000000;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  transition: transform 0.3s ease; 
}


.iconPlaceholder:hover {
  transform: scale(1.2); 
}

.navLink {
  margin: 0 0.5rem;
  color: #ffffff;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
  padding: 2rem;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.sidebarLink {
  margin-bottom: 1rem;
  color: #ffffff;
  text-decoration: none;
}

.sidebarLink:hover {
  text-decoration: underline;
}

.closeButton {
  background: none;
  border: none;
  font-size: 2rem;
  color: #ffffff;
  cursor: pointer;
  align-self: flex-end;
}



.navRight {
  position: relative; 
}

.profileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.userIcon {
  font-size: 1.5rem;
  color: #ffffff;
}


.dropdownContent {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #000000;
  color: #ffffff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  opacity: 0; 
  visibility: hidden; 
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s; 
}

.dropdownContent.visible {
  opacity: 1; 
  visibility: visible; 
  transform: translateY(0);
  pointer-events: auto; 
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0s; 
}


.dropdownContent button {
  margin: 0.5rem 0;
  color: #ffffff;
  background-color: #0000; 
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.dropdownContent button:hover {
  background-color: #504e4e;
}

.profileCard:hover .dropdownContent {
  opacity: 1;
  transform: translateY(0); 
  pointer-events: auto; 
}
