.nav{
  background-color:rgb(8, 8, 8);
  overflow: hidden;
  text-align: center;
  
}
.nav li{
  display: inline;
  padding: 1rem;
  
}
.nav li a{
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  background-color:rgb(10, 10, 10);
  color: rgb(245, 244, 244);
  padding : 5px;
}
.nav li a:hover{
  background-color: white;
  color : black;

}

